 body {
     font-family: var(--main-font);
     font-size: 12px;  
     font-style: normal;
     @media screen and (min-width:768px){ 
       font-size: 14px;
       letter-spacing: 0.04em;
     }
}
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  