$main-font: "DM Sans", sans-serif;
$secondary-font: "Titan One", cursive;

$primary-bg-color: #ffffff;
$secondary-bg-color: #fff5f6;

$hero-header-bg: #ffb8ca;

$primary-text-color: #000000;
$secondary-text-color: #907e82;

$primary-accent-color: #d41443;
$secondary-accent-color: #ffa5ba;

$menu-text-color: #ffffff;
$second-card-color: #F0D1A5;
$third-card-color: #C2E297;