$primary-bg-color: #ffffff;
$secondary-bg-color: #fff5f6;

$hero-header-bg: #ffb8ca;

$primary-text-color: #000000;
$secondary-text-color: #907e82;

$primary-accent-color: #d41443;
$secondary-accent-color: #ffa5ba;
$menu-text-color: #ffffff;
$primary-section-bg: #E5E5E5;
$secondary-section-bg: #FFF5F6;;
$button-hover: #C7133E;;
$button-inverse-hover:#ECEBEB;;
$hero-header-bg: #FFB8CA;

$main-font: "DM Sans", sans-serif;
$secondary-font: "Titan One", cursive;