<div class="backdrop is-hidden" data-about-modal>
  <div class="container container-about-modal">
    <button class="modal__close-btn about-close-btn" aria-label="Закрыть окно" data-about-modal-close>
      <svg class="modal__close-icon" width="18px" height="18px">
        <use href="../src/images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="about__title title about__title--modal">how it’s made?</h2>
    <p class="about-right__text about-right__text--modal">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenaconsecteolor sit amet. Dignissimos veritatis, at sunt corporis doloribus asperiores fugiat architecto quasi rerum corrupti? eleifend erat at cenas eleifend e  as eleifend erat at justo  justo fringilla.</p>
    <p class="about-right__text-secondary about-right__text-secondary--modal">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula Lorem ipsum dolor sit. volutpat, dsf ;lkf a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
    <p class="about-right__text-secondary about-right__text-position about-right__text-secondary--modal">
        Aliquam erat volutpat. Aenean accumsan.
    </p>


  </div>
</div>
