<section class="section advantages__section">
  <div class="container advantages__container">
    <h2 class="title visually-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <p class="advantages__quantity advantages__quantity--first">721</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__quantity advantages__quantity--second">16kg</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__quantity advantages__quantity--third">84</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
