<section class="contacts" id="contacts">
    <div class="container ">
        <h2 class="visually-hidden">Наши контакты </h2>
             <ul class="contacts__list">
                <li class="contacts__card">
                    <p class="contacts__name">CAFE</p> 
                    <h2 class="contacts__town">Chicago</h2>
                    <p class="contacts__text contacts__list--line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__schedule--line">
                        <li class=" ">
                            <p class="contacts__day">Monday - Friday </p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="">
                            <p class="contacts__day">Saturday - Sunday</p>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul> 
                     <ul class="contacts__data">
                            <li class=""><a class="contacts__data--bath" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li class=""><a class="contacts__data--bath" href="mailto:noreply@envato.com">noreply@envato.com</a></li> 
                     </ul>              
                </li>
                <li class="contacts__card">
                    <p class="contacts__name--green">FOODTRUCK</p> 
                    <h2 class="contacts__town">Los Angeles</h2>
                    <p class="contacts__text contacts__list--line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__schedule--line">
                        <li class=" ">
                            <p class="contacts__day">Monday - Friday </p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="">
                            <p class="contacts__day">Saturday - Sunday</p>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul> 
                     <ul class="contacts__data">
                            <li class=""><a class="contacts__data--bath" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li class=""><a class="contacts__data--bath" href="mailto:noreply@envato.com">noreply@envato.com</a></li> 
                     </ul>                                     
                </li>
                <li class="contacts__card">
                    <p class="contacts__name">CAFE</p> 
                    <h2 class="contacts__town">New York</h2>
                    <p class="contacts__text contacts__list--line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__schedule--line">
                        <li class=" ">
                            <p class="contacts__day">Monday - Friday </p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="">
                            <p class="contacts__day">Saturday - Sunday</p>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul> 
                     <ul class="contacts__data">
                            <li class=""><a class="contacts__data--bath" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li class=""><a class="contacts__data--bath" href="mailto:noreply@envato.com">noreply@envato.com</a></li> 
                     </ul>
                    
                </li>
            </ul>
            <div class="contacts_button">
                <button class="site-button about-btn contacts-btn site-button--inverse " type="button" data-map-modal-open>Our Locations
                    <svg class="about-position__right-button-icon" width="8px" height="10px">
                        <use href='./images/svg/sprite.svg#icon--1-2'></use>
                    </svg>
                </button>
                <button class="site-button about-btn contacts-btn__second" type="button" data-franchize-modal-open>Franchize
                    <svg class="about-position__right-button-icon" width="8px" height="10px">
                        <use href='./images/svg/sprite.svg#icon-Vector-1-1'></use>
                    </svg>
                    
                </button>
            </div>      
        </div> 
</section>






