<section class="contacts" id="contacts">
    <div class="container contacts__block">
        <h2 class="visually-hidden">Наши контакты </h2>
        <div class="contacts__card">
            <ul class="">
                <li class="contacts__element">
                    <p class="contacts__name">CAFE</p> 
                </li>
            </ul>
             <ul class="contacts__list ">
                    <li class=" contacts__item">  
                        <h2 class="contacts__town">Chicago</h2>
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <ul class="contacts__list contacts__list--info">
                 <li class="contacts__day">Monday - Friday </li>
                 <li class="contacts__time">06:00 AM - 10:00 PM</li>
                 <li class="contacts__day">Saturday - Sunday</li>
                 <li class="contacts__time">08:00 AM - 16:00 PM</li>

                </ul>
                <ul class="contacts__list contacts__list--last">
                    <li class="list"><a class="contacts__bath" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li class="list"><a class="contacts__bath" href="mailto:noreply@envato.com">noreply@envato.com</a></li>

                </ul>
                
               
            
        </div>
        <div class="contacts__card">
            <ul class="">
                <li class="contacts__element">
                    <p class="contacts__name-2">FOODTRUCK</p> 
                </li>
            </ul>
             <ul class="contacts__list ">
                    <li class=" contacts__item">  
                        <h2 class="contacts__town">Los Angeles</h2>
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <ul class="contacts__list contacts__list--info">
                 <li class="contacts__day">Monday - Friday </li>
                 <li class="contacts__time">06:00 AM - 10:00 PM</li>
                 <li class="contacts__day">Saturday - Sunday</li>
                 <li class="contacts__time">08:00 AM - 16:00 PM</li>

                </ul>
                <ul class="contacts__list contacts__list--last">
                    <li class=""><a class="contacts__bath" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li class=""><a class="contacts__bath" href="mailto:noreply@envato.com">noreply@envato.com</a></li>

                </ul>
                
        </div>

        <div class="contacts__card">
            <ul class="">
                <li class="contacts__element">
                    <p class="contacts__name">CAFE</p> 
                </li>
            </ul>
             <ul class="contacts__list ">
                    <li class=" contacts__item">  
                        <h2 class="contacts__town">New York</h2>
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <ul class="contacts__list contacts__list--info">
                 <li class="contacts__day">Monday - Friday </li>
                 <li class="contacts__time">06:00 AM - 10:00 PM</li>
                 <li class="contacts__day">Saturday - Sunday</li>
                 <li class="contacts__time">08:00 AM - 16:00 PM</li>

                </ul>
                <ul class="contacts__list contacts__list--last">
                    <li class="list"><a class="contacts__bath" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li class="list"><a class="contacts__bath" href="mailto:noreply@envato.com">noreply@envato.com</a></li>

                </ul>
                
        </div>
    
    </div>
    <ul class="contacts__btn">
        <li class="contacts-btn__block">
            <button class="site-button about-btn contacts-btn site-button--inverse " type="button" data-map-modal-open>Our Locations
                <svg class="about-position__right-button-icon" width="8px" height="10px">
                    <use href='./images/svg/sprite.svg#icon--1-2'></use>
                </svg>
            </button>

        </li>
        <li class="contacts-btn__block">
            <button class="site-button about-btn contacts-btn__second" type="button" data-franchize-modal-open>Franchize
                <svg class="about-position__right-button-icon" width="8px" height="10px">
                    <use href='./images/svg/sprite.svg#icon-Vector-1-1'></use>
                </svg>
            </button>

        </li>

    

    
</ul>

</section>