<footer class="footer">
  
    <div class="container">
      <div class="footer__title">
        <p class="subtitle">homemade ice cream made</p>
        <p class="title">with passion</p>
      </div>
      <div>
        <ul class="footer__social">
          <li class="social__item">
            <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
              <svg class="social__icon">
                <use href="./images/svg/sprite.svg#github"></use>
              </svg>

            </a>
          </li>
          <li class="social__item">
            <a href="https://web.telegram.org/" target="_blank" rel="noopener noreferrer">
              <svg class="social__icon">
                <use href="./images/svg/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
              <svg class="social__icon">
                <use href="./images/svg/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <address>
          <ul class="footer__contact">
            <li class="contact__list">
              <p class="contact__title">Feel free to contact</p>
            </li>
            <li>
              <a href="tel:+61 (0) 383 766 284" class="contact__phone"
                >+61 (0) 383 766 284</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  
  <div class="footer__year">
      <ul class="year__list">
      <li>&#169 2019 - IceCream.</li>
      <li>All Rights Reserved. </li>
    </ul>

  </div>

</footer>
