<footer class="footer">
  <div class="container">
    <div class="footer__title">
      <p class="subtitle">homemade ice cream made</p>
      <p class="title">with passion</p>
    </div>
    <div>
      <ul class="footer__social">
        <li class="social__item">
          <a
            href="https://github.com/"
            class="social__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social__icon">
              <use href="./images/svg/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://web.telegram.org/"
            class="social__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social__icon">
              <use href="./images/svg/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.facebook.com/"
            class="social__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social__icon">
              <use href="./images/svg/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <address>
        <div class="footer__contact">
          <p class="contact__title">Feel free to contact</p>
          <a href="tel:+610383766284" class="contact__phone">+61 (0) 383 766 284</a>
        </div>
      </address>
    </div>
  </div>

  <div class="footer__year">
    <p class="year__item">&#169; 2021 - IceCream.</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
