<section class="gallery-background">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery">
      <li class="gallery__item1">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images1.webp    1x,
              ./images/desktop/gallery/images1@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images1.jpg    1x,
              ./images/desktop/gallery/images1@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images1.webp    1x,
              ./images/tablet/gallery/images1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images1.jpg    1x,
              ./images/tablet/gallery/images1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images1.webp    1x,
              ./images/mobile/gallery/images1@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images1.jpg    1x,
              ./images/mobile/gallery/images1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item2">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images2.webp    1x,
              ./images/desktop/gallery/images2@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images2.jpg    1x,
              ./images/desktop/gallery/images2@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images2.webp    1x,
              ./images/tablet/gallery/images2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images2.jpg    1x,
              ./images/tablet/gallery/images2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images2.webp    1x,
              ./images/mobile/gallery/images2@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images2.jpg    1x,
              ./images/mobile/gallery/images2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item3">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images3.webp    1x,
              ./images/desktop/gallery/images3@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images3.jpg    1x,
              ./images/desktop/gallery/images3@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images3.webp    1x,
              ./images/tablet/gallery/images3@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images3.jpg    1x,
              ./images/tablet/gallery/images3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images3.webp    1x,
              ./images/mobile/gallery/images3@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images3.jpg    1x,
              ./images/mobile/gallery/images3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item4">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images4.webp    1x,
              ./images/desktop/gallery/images4@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images4.jpg    1x,
              ./images/desktop/gallery/images4@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images4.webp    1x,
              ./images/tablet/gallery/images4@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images4.jpg    1x,
              ./images/tablet/gallery/images4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images4.webp    1x,
              ./images/mobile/gallery/images4@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images4.jpg    1x,
              ./images/mobile/gallery/images4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img gallery__img--active" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item5">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images5.webp    1x,
              ./images/desktop/gallery/images5@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images5.jpg    1x,
              ./images/desktop/gallery/images5@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images5.webp    1x,
              ./images/tablet/gallery/images5@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images5.jpg    1x,
              ./images/tablet/gallery/images5@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images5.webp    1x,
              ./images/mobile/gallery/images5@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images5.jpg    1x,
              ./images/mobile/gallery/images5@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item6">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images6.webp    1x,
              ./images/desktop/gallery/images6@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images6.jpg    1x,
              ./images/desktop/gallery/images6@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images6.webp    1x,
              ./images/tablet/gallery/images6@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images6.jpg    1x,
              ./images/tablet/gallery/images6@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images6.webp    1x,
              ./images/mobile/gallery/images6@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images6.jpg    1x,
              ./images/mobile/gallery/images6@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item7">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images7.webp    1x,
              ./images/desktop/gallery/images7@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images7.jpg    1x,
              ./images/desktop/gallery/images7@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images7.webp    1x,
              ./images/tablet/gallery/images7@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images7.jpg    1x,
              ./images/tablet/gallery/images7@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images7.webp    1x,
              ./images/mobile/gallery/images7@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images7.jpg    1x,
              ./images/mobile/gallery/images7@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item8">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images8.webp    1x,
              ./images/desktop/gallery/images8@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images8.jpg    1x,
              ./images/desktop/gallery/images8@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images8.webp    1x,
              ./images/tablet/gallery/images8@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images8.jpg    1x,
              ./images/tablet/gallery/images8@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images8.webp    1x,
              ./images/mobile/gallery/images8@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images8.jpg    1x,
              ./images/mobile/gallery/images8@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item9">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images9.webp    1x,
              ./images/desktop/gallery/images9@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images9.jpg    1x,
              ./images/desktop/gallery/images9@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images9.webp    1x,
              ./images/tablet/gallery/images9@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images9.jpg    1x,
              ./images/tablet/gallery/images9@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images9.webp    1x,
              ./images/mobile/gallery/images9@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images9.jpg    1x,
              ./images/mobile/gallery/images9@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
      <li class="gallery__item10">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images10.webp    1x,
              ./images/desktop/gallery/images10@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery/images10.jpg    1x,
              ./images/desktop/gallery/images10@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images10.webp    1x,
              ./images/tablet/gallery/images10@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery/images10.jpg    1x,
              ./images/tablet/gallery/images10@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images10.webp    1x,
              ./images/mobile/gallery/images10@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery/images10.jpg    1x,
              ./images/mobile/gallery/images10@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" />
        </picture>
      </li>
    </ul>
  </div>
</section>
