<header class="header">
   <div class="container header__container">
      <nav class="navigation">
         <a class="logo" href="./index.html">
            <picture>
               <source media="(min-width: 320px)" srcset="./images/logo/logo.png 199w, ./images/logo/logo@2x.png 398w"
                  sizes="199px" />
               <source media="(min-width: 320px)" srcset="./images/logo/logo.webp 199w, ./images/logo/logo@2x.webp 398w"
                  type="image/webp" sizes="199px" />
               <img src="#" alt="логотип" loading="lazy" />
            </picture>
         </a>
         <ul class="site-nav">
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--current" href="">Home</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="">About us</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="">How it’s made?</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="">Our products</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="">Contact</a></li>
         </ul>
      </nav>

      <!-- *Start mobile-menu -->
      <button class="burger-btn" type="button" data-menu-open>
         <svg class="burger-btn__icon" aria-label="переключатель мобильного меню">
            <use href="./images/svg/sprite.svg#menu"></use>
         </svg>
      </button>

      <div class="mobile-menu" data-menu>
         <button class="close-btn" type="button" data-menu-close>
            <svg class="close-btn__icon" width="14" height="14" aria-label="переключатель мобильного меню">
               <use href="./images/svg/sprite.svg#menu-close"></use>
            </svg>
         </button>
      </div>
      <a class="button top-btn" href="">Buy now<span class="top-btn__icon top-btn__icon--right"></span></a>
   </div>
   <!-- *End mobile-menu -->


   </div>
</header>