<button type="button" data-map-modal-open>Map</button>
<div class="backdrop is-hidden" data-map-modal>
  <div class="container map-container">
    <button class="modal__close-btn map-button" aria-label="Закрыть окно" data-map-modal-close>
      <svg class="modal__close-icon" width="18px" height="18px">
        <use href="../src/images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    
      <iframe
        class="map-form__iframe"
        src="https://www.google.com/maps/d/embed?mid=18W0Dm9c5Gt2yizE0S0kGpvUvmDQp5wol&ehbc=2E312F"
      ></iframe>
    
  </div>
</div>

<script src="./js/map-modal.js"></script>
