<section class="products">
    <div class="container">
        <h1 class="products__heading">100% natural</h1>
        <p class="products__paragraph">products</p>
            <div class="products__galery">
                <li class="products__list">
                    <div>
                        <picture>
                            <source media="(min-width: 1200px)" srcset="
                                images\desktop\programs\home-pic1.jpg 1x,
                                images\desktop\programs\home-pic1@2x.jpg 2x" type="image/webp" />
                            <img src="#" alt="мороженое">
                        </picture>
                    </div>
                    <div class="products__card ice-cream">
                        <h3 class="products__menu">ice cream</h3>
                        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et</p>
                        <img class="arrow" src="images/desktop/programs/arrow.png" alt="">
                    </div>
                    
                </li>
                <li class="products__list">
                    <div>
                        <picture>
                            <source media="(min-width: 1200px)" srcset="
                                images\desktop\programs\home-pic2.jpg 1x,
                                images\desktop\programs\home-pic2@2x.jpg 2x" type="image/webp" />
                            <img src="#" alt="мороженое">
                        </picture>
                    </div>
                    <div class="products__card ice-coffe">
                        <h3 class="products__menu">ice coffee</h3>
                        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et</p>
                        <img class="arrow" src="images/desktop/programs/arrow.png" alt="">
                    </div>
                    
                </li>
                <li class="products__list">
                    <div>
                    <picture>
                        <source media="(min-width: 1200px)" srcset="
                            images\desktop\programs\home-pic1.jpg 1x,
                            images\desktop\programs\home-pic1@2x.jpg 2x" type="image/webp" />
                        <img src="#" alt="мороженое">
                    </picture>
                    </div>
                    <div class="products__card milcshakes">
                        <h3 class="products__menu">milkshakes</h3>
                        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                        <img class="arrow" src="images/desktop/programs/arrow.png" alt="">
                    </div>
                    
                </li>
            </div>
    </div>
</section>