<section class="products">
    <div class="container">
        <h1 class="products__heading">100% natural</h1>
        <p class="products__paragraph">products</p>
            <div class="products__galery">
                <li class="products__card ice-cream">
                    <h3 class="products__menu">ice cream</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <!-- <div>
                        <svg>
                            <use href="../src/images/svg/sprite.svg#arrow-right"></use>
                        </svg>
                    </div> -->
                    <span class="arrow"></span>
                </li>
                <li class="products__card ice-coffe">
                    <h3 class="products__menu">ice coffee</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </li>
                <li class="products__card milcshakes">
                    <h3 class="products__menu">milkshakes</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </li>
            </div>
    </div>
</section>