<section class="products">
    <div class="container">
        <label class="products__heading" for="products">100% natural</label>
        <!-- <h1 class="products__heading">100% natural</h1> -->
        <h2 class="products__paragraph" id="products">products</h2>
            <div>
                <ul class="products__list">
                    <li class="products__item">
                        <div class="products__img">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="
                                    ./images/desktop/programs/home-pic1.png 1x,
                                    ./images/desktop/programs/home-pic1@2x.png 2x" type="image/png"/>
                                <img src="#" alt="мороженое">
                            </picture>
                        </div>
                        <div class="products__card ice-cream">
                            <h3 class="products__menu">ice cream</h3>
                            <div class="dots"></div>
                            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et</p>
                            <img class="arrow" src="images/desktop/programs/arrow.png" alt="">
                        </div>
                    
                    </li>
                    <li class="products__item">
                        <div class="products__img">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="
                                    ./images/desktop/programs/home-pic2.png 1x,
                                    ./images/desktop/programs/home-pic2@2x.png 2x" type="image/png"/>
                                <img src="#" alt="мороженое">
                            </picture>
                        </div>
                        <div class="products__card ice-coffe">
                            <h3 class="products__menu">ice coffee</h3>
                            <div class="dots"></div>
                            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et</p>
                            <img class="arrow" src="images/desktop/programs/arrow.png" alt="">
                        </div>
                    
                    </li>
                    <li class="products__item">
                        <div class="products__img">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="
                                    ./images\desktop\programs\home-pic3.png 1x,
                                    ./images\desktop\programs\home-pic3@2x.png 2x" type="image/png"/>
                                <img src="#" alt="мороженое">
                            </picture>
                        </div>
                        <div class="products__card milcshakes">
                            <h3 class="products__menu">milkshakes</h3>
                            <div class="dots"></div>
                            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et</p>
                            <img class="arrow" src="images/desktop/programs/arrow.png" alt="">
                        </div>
                    
                    </li>
                </ul>
                
            </div>
    </div>
</section>