.container-about-modal {
  position: fixed;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding-top: 55px;

  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 500px;

  @media screen and (max-height: 499px) {
    height: 90vh;
    overflow-y: scroll;
    background-attachment: local;
    padding-bottom: 18vh;
  }   

  background-size: 300px 500px;
  background-image: url(../images/about-modal/about-modal-bg-mobile320.jpg);

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about-modal/about-modal-bg-mobile320@2x.jpg);
  }

  @media screen and (min-width: 480px) {
    width: 460px;
    height: 509px;
    padding-top: 80px;
    background-size: 460px 509px;
    @media screen and (max-height: 508px) {
      height: 90vh;
      overflow-y: scroll;
      background-attachment: local;
      padding-bottom: 25vh;
    }
    background-image: url(../images/about-modal/about-modal-bg-mobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-modal/about-modal-bg-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    width: 740px;
    height: 650px;
    padding: 130px 20px;
    @media screen and (max-height: 649px) {
      height: 90vh;
      overflow-y: scroll;
      background-attachment: local;
      padding-bottom: 32vh;
    }   
    background-size: 740px 650px;
    background-image: url(../images/about-modal/about-modal-bg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-modal/about-modal-bg-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1050px;
    height: 743px;
    padding-top: 170px;
    @media screen and (max-height: 742px) {
      height: 90vh;
      overflow-y: scroll;
      background-attachment: local;
      padding-bottom: 30vh;
    }   
    background-size: 1050px 743px;
    background-image: url(../images/about-modal/about-modal-bg-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-modal/about-modal-bg-desktop@2x.jpg);
    }
  }
}

.about-close-btn{
    background-color: white;
}

.about__title--modal{
    font-size: 20px;
    margin-bottom: 25px;
    @media screen and (min-width: 480px) {
        font-size: 30px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        font-size: 30px;
        margin-bottom: 70px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 56px;
        margin-bottom: 70px;
    }
}
