.site-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 22px;
  border: 0px;
  text-align: center;
  color: $primary-accent-color;
  background-color: $menu-text-color;

  &:hover,
  &:focus {
    background-color: $hover-button-menu-color;
  }
  &--inverse {
    background-color: $primary-accent-color;
    color: $menu-text-color;
    &:hover,
    &:focus {
      background-color: $hover-button-primary-color;
    }
  }
}
