.button-main {
  background-color: $menu-text-color;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  border: 0px;

  &:hover,
  &:focus {
    background-color: $hover-button-menu-color;
  }
}
.button-inverse {
  background-color: $primary-accent-color;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  border: 0px;

  &:hover,
  &:focus {
    background-color: $hover-button-primary-color;
  }
}
