.container {
   padding: 0 10px;
   margin-left: auto;
   margin-right: auto;

   @media screen and (min-width: 480px) {
      width: 300px;
   }

   @media screen and (min-width: 768px) {
      width: 720px;
   }

   @media screen and (min-width: 1280px) {
      width: 1080px;
      padding: 0 15px;
   }
}
