.map-container {
  position: relative;
  padding: 0 10px;
  height: 85vh;
  top: 5vh;

  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
}

.map-button {
  background-color: white;
  @media screen and (max-width: 767px) {
    position: absolute;
    left: 50%;
    top: 87vh;
    transform: translateX(-50%);
  }
}

.map-form__iframe {
  width: 100%;
  height: 100%;
}
