.about-section {
  background-color: $secondary-bg-color;
  @media screen and (min-width: 320px) {
    background-image: url(../images/mobile/about/milk-mobile.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
  }
  @media screen and (min-width: 480px) {
    background-image: url(../images/mobile/about/milk-mobile479.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/about/milk-tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/about/milk-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
  }
}
.about-container {
  padding-top: 125px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 40px;
  }
}
.about__pre-title {
  margin-bottom: 15px;
}
.about__pre-title,
.about__title {
  text-align: center;
  @media screen and (max-width: 479px) {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.about__title {
  margin-bottom: 26px;
}
.about-position {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.about-position__left {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 71px;
  }
}
.about-position__right {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    width: 220px;
  }
  @media screen and (min-width: 768px) {
    width: 340px;
    padding-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
    padding-top: 50px;
  }
}

.about-right__text {
  margin-bottom: 31px;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.62;
    font-weight: 500;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
.about-right__text-secondary {
  color: $secondary-text-color;
  @media screen and(max-width:767px) {
    font-size: 12px;
    line-height: 1.62;
    font-weight: 500;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.94;
  }
}
.about-right__text-position {
  margin-top: 31px;
}
.about-position__right-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    margin-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }
}
.about__button {
  padding: 14px 41px;
}
.about-position__right-button-icon {
  margin-left: 14px;
}
