.about-section {
  background-color: $secondary-bg-color;
}
// .container {
// }
// .about-container {
// }
.about__pre-title {
  text-align: center;
}
.about__title {
  text-align: center;
}
.about__left-right {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  border: 1px solid blue;
}
.about__images {
  width: 100%;
}
.about__text {
  width: 220px;

  @media screen and (min-width: 768) {
    width: 340px;
  }
  @media screen and (min-width: 768) {
    width: 463px;
  }
}
.about__text-secondary {
  $secondary-text-color: #907e82;
}
