.contacts{
 width: 100%;
 padding-bottom: 110px;
 @media screen and (min-width: 320px) and (max-width: 767px){
  background: linear-gradient($primary-bg-color 7%, $secondary-bg-color 7%);
}

 @media screen and (min-width: 768px){
  background: linear-gradient($primary-bg-color 20%, $secondary-bg-color 20%);
}
 @media screen and (min-width: 1280px){
  background: linear-gradient($primary-bg-color 15%, $secondary-bg-color 15%);
}
 

}
.contacts__block{
 @media screen and (min-width: 768px){
    display: flex;
  }
}
   
.contacts__card{
 width: 220px;
 margin-right: auto;
 margin-left: auto;
 padding: 40px 20px;
 background:  $primary-bg-color;
 box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
 border-radius: 24px;
 
 @media screen and (min-width: 480px){
  width: 450px;  
  padding-left: 40px;
 }
 @media screen and (max-width: 767px){
  &:not(:last-child){
    margin-bottom: 20px;
  }
 }
  @media screen and (min-width: 768px){
    width: 220px;  
    margin: 10px;
    padding: 50px 30px;
    
  }
  @media screen and (min-width: 1280px){
    width: 330px;  
    margin: 15px;
    padding: 50px 40px;
    
    
  }
  

}

.contacts__element{
 padding-bottom: 25px; 
}
.contacts__name{
    width: 80px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: 0.04em;
    color: $primary-bg-color;
    background: $second-card-color;
    border-radius: 4px;
    padding-left: 24px;
    @media screen and (min-width: 480px){
    font-size: 16px;
    line-height: 1.87;
    padding-left: 18px;
    }
}
.contacts__name-2{
  width: 130px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 0.04em;
  color: $primary-bg-color;
  background: $third-card-color;
  border-radius: 4px;
  padding-left: 24px;  
  @media screen and (min-width: 480px){
    font-size: 16px;
    line-height: 1.87;
    padding-left: 15px;
    }
}
.contacts__list:not(:last-child)::after {
    content: "";
    width: 179px;
    height: 0px;
    position: absolute;
    display: block;
    border: 1px solid #E1E1E1;
    margin-top: 25px;
    @media screen and (min-width: 480px){
      width: 335px;
    }
    @media screen and (min-width: 768px){
      width: 157px;
    }
    @media screen and (min-width: 1280px){
      width: 234px;
    }
   
}
.contacts__list:not(:last-child){
  margin-bottom: 25px;
  @media screen and (min-width: 768px){
    margin-bottom: 30px;
    }
}
.contacts__item{
    display: block;
    text-align: left;
}

.contacts__town{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    @media screen and (min-width: 480px){
      font-size: 16px;
      line-height: 1.86;
      }
    @media screen and (min-width: 768px){
      font-size: 14px;
      line-height: 1.86;
      }
}
.contacts__text{
 font-weight: 500;
 font-size: 12px;
 line-height: 18px;
 color: $secondary-text-color;
 @media screen and (min-width: 480px){
  font-size: 16px;
  line-height: 1.81;
  }
 @media screen and (min-width: 768px){
  font-size: 14px;
  line-height: 1.64;
  }
  @media screen and (min-width: 1280px){
    font-size: 16px;
    line-height: 1.81;
    }
}
.contacts__list--info{
    padding-top: 25px;
    @media screen and (min-width: 768px){
    padding-top: 30px;
  }
}
.contacts__day{
 font-weight: 500;
 font-size: 12px;
 line-height: 1.83;
 text-align: left;
 color: $primary-text-color;
 @media screen and (min-width: 480px){
  font-size: 16px;
  line-height: 1.81;
  }
 @media screen and (min-width: 768px){
  font-size: 14px;
  line-height: 1.86;
  }
}

.contacts__time{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: $secondary-accent-color;
    @media screen and (min-width: 480px){
      font-size: 16px;
      line-height: 1.81;
      }
    @media screen and (min-width: 768px){
      font-size: 14px;
      line-height: 1.86;
      }
}
.contacts__list--last{
  padding-top: 25px;
  @media screen and (min-width: 768px){
    padding-top: 30px;
    }
    
}
.contacts__bath{
 font-weight: 500;
 font-size: 12px;
 line-height: 1.5;
 color: $secondary-text-color;
 @media screen and (min-width: 480px){
  font-size: 16px;
  line-height: 1.81;
  }
 @media screen and (min-width: 768px){
  font-size: 14px;
  line-height: 1.86;
  }
}

// ==========================================btn==========================
.contacts__btn{
  margin-top: 54px; 
  
  @media screen and (min-width: 768px){
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  @media screen and (min-width: 1280px){
    margin-top: 85px;
  }
  
}
.contacts-btn__block{
  @media screen and (max-width: 767px){
    margin-bottom: 10px;
  }
}
.about-btn {
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px){
    margin-left: 15px;
  }

}



.contacts-btn{
 padding: 14px 17px;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.31;
 display: flex;
 align-items: center;
 text-align: center;
 justify-content: center;
 fill: var(--color1);
 color: $menu-text-color;
 background-color:$primary-accent-color;
}
.contacts-btn__second{
  padding: 14px 32px;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.31;
 display: flex;
 align-items: center;
 text-align: center;
 color: $primary-accent-color;
 background-color: $menu-text-color;
}
