// *Header
.top-wrapper {
   min-width: 100%;

   background-color: $hero-header-bg;

   @media screen and (min-width: 768px) {
      height: 400px;
   }

   @media screen and (min-width: 1280px) {
      height: 675px;
   }
}

.scrolltop {
   position: fixed;
   bottom: 10px;
   right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   opacity: 0;
   z-index: 99;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   background-color: $primary-accent-color;

   @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
   }

   @media screen and (min-width: 1280px) {
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
   }

   &:hover,
   &:focus {
      background-color: $hero-header-bg;
   }
}

.showBtn {
   opacity: 1;
}

.scroll-top__icon {
   border: solid $menu-text-color;
   border-width: 0 2px 2px 0;

   display: inline-block;
   padding: 3px;

   &--up {
      transform: rotate(-135deg);
   }
}

.header {
   padding: 5px 0;

   @media screen and (min-width: 768px) {
      padding: 35px 0 0;
   }

   @media screen and (min-width: 1280px) {
      padding: 25px 0 5px;
   }
}

.header__container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;

   @media screen and (min-width: 1280px) {
      justify-content: flex-end;
   }
}

.navigation {
   display: flex;
   align-items: center;
   z-index: 99;
}

.site-nav {
   display: none;

   @media screen and (min-width: 1280px) {
      display: flex;
      margin-right: 110px;
   }
}

.site-nav__item:not(:last-child) {
   margin-right: 35px;
}

.site-nav__link {
   display: block;
   padding: 25px 0;
   color: $menu-text-color;
   font-weight: 700;
   font-size: 16px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: $primary-accent-color;
   }
}

.site-nav__link--current {
   color: $primary-accent-color;
}

.logo {
   display: inline-block;
   cursor: pointer;

   @media screen and (min-width: 1280px) {
      position: absolute;
      top: 10px;
      left: -55px;
   }
}

.btn-wrapper {
   display: flex;
   align-items: center;
   z-index: 99;
}

.top-btn {
   display: none;

   @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      border-radius: 22px;
      width: 160px;
      height: 45px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: $primary-accent-color;
      background-color: $menu-text-color;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
         background-color: $hover-button-menu-color;
      }
   }
}

.top-btn__icon {
   border: solid #d41443;
   border-width: 0 2px 2px 0;
   margin-left: 12px;
   display: inline-block;
   padding: 3px;

   &--right {
      transform: rotate(-45deg);
   }
}

// *Mobile menu start

.burger-btn {
   display: inline-flex;

   padding: 20px 0;
   border: none;
   cursor: pointer;
   line-height: 0;
   background-color: transparent;

   @media screen and (min-width: 768px) {
      margin-right: 30px;
   }

   @media screen and (min-width: 1280px) {
      display: none;
   }
}

.burger-btn__icon {
   width: 20px;
   height: 14px;
}

.mobile-menu {
   display: flex;
   flex-direction: column;

   background-color: #e17992;

   position: fixed;
   top: 0;
   right: 0;
   min-width: 250px;
   height: 100vh;
   z-index: 2;
   padding: 60px 0 60px 0;
   transform: translateX(115%);
   pointer-events: none;
   filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 768px) {
      padding: 60px 0 60px 0;
      min-width: 255px;
   }

   &.is-open {
      transform: translateX(0);
      pointer-events: all;
   }
}

.close-btn {
   position: absolute;
   top: 25px;
   right: 35px;
   padding: 0;
   border: none;
   cursor: pointer;
   line-height: 0;
   background-color: transparent;

   &__icon {
      width: 15px;
      height: 15px;
   }
}

.menu-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   border: none;
   border-radius: 22px;
   width: 210px;
   height: 45px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.31;
   color: $primary-accent-color;
   background-color: $menu-text-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 768px) {
      width: 185px;
      margin: 0 auto;
   }

   &:hover,
   &:focus {
      background-color: $hover-button-menu-color;
   }
}

.menu-btn__icon {
   border: solid #d41443;
   border-width: 0 2px 2px 0;
   margin-left: 16px;
   display: inline-block;
   padding: 3px;

   &--right {
      transform: rotate(-45deg);
   }
}

.nav-menu {
   margin-top: 20px;
}

.nav-menu__item {
   border-bottom: 1px solid #e18298;
   border-top: 1px solid #e18298;
   width: 100%;
}

.nav-menu__link {
   display: block;
   padding: 11px 21px;
   color: $menu-text-color;
   font-weight: 700;
   font-size: 16px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 768px) {
      padding: 11px 24px;
   }

   &:hover,
   &:focus {
      color: $primary-accent-color;
   }
}

.nav-menu__link--current {
   color: $primary-accent-color;
}

// *Mobile menu end

// *-----------HERO------------
.hero {
   @media screen and (max-width: 767px) {
      overflow: hidden;
   }

   @media screen and (min-width: 768px) {
      padding-top: 15px;
   }

   @media screen and (min-width: 1200px) {
      padding-top: 20px;
   }
}

.hero__container {
   position: relative;
   z-index: 1;
   height: 438px;

   @media screen and (min-width: 768px) {
      height: 296px;
   }

   @media screen and (min-width: 1280px) {
      height: 557px;
   }
}

.hero__wrapper {
   display: flex;
   justify-content: space-between;
}

.hero__box {
   flex-direction: column;
   z-index: 2;

   @media screen and (min-width: 768px) {
      margin-bottom: 60px;
   }

   @media screen and (min-width: 1280px) {
      margin: 40px 0 50px 0;
   }
}

.hero__title {
   display: block;
   font-family: $secondary-font;
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 130px;
   margin-bottom: 20px;
   font-size: 26px;
   line-height: 1.15;
   letter-spacing: 0.04em;

   color: $menu-text-color;

   @media screen and (min-width: 768px) {
      margin-top: 0;
      font-size: 22px;
      line-height: 1.13;
   }

   @media screen and (min-width: 1280px) {
      font-size: 38px;
      line-height: 1.16;
   }
}

.hero__title--big {
   display: block;
   font-family: $secondary-font;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 48px;
   line-height: 0.96;
   letter-spacing: 0.04em;
   color: $primary-accent-color;

   @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
   }

   @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 0.9;
   }
}

.hero__button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
}

.hero__button--first {
   margin-right: 8px;
   width: 60px;
   height: 25px;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   color: $menu-text-color;
   background-color: $primary-accent-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: $hover-button-primary-color;
   }

   @media screen and (min-width: 768px) {
      width: 62px;
   }

   @media screen and (min-width: 1280px) {
      width: 102px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
   }
}

.hero__button--second {
   width: 83px;
   height: 25px;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   color: $primary-accent-color;
   background-color: $menu-text-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: $hover-button-menu-color;
   }

   @media screen and (min-width: 1280px) {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
   }
}

.icecream-box {
   position: absolute;
   z-index: 0;
   bottom: 0;
   right: 32px;
   z-index: 1;

   @media screen and (min-width: 768px) {
      bottom: 0;
      right: 220px;
   }

   @media screen and (min-width: 1280px) {
      bottom: 0;
      right: 350px;
   }
}

.icecream-box--up {
   animation: pullUp 3000ms ease-out;
   transform-origin: 50% 100%;
}

@keyframes pullUp {
   0% {
      transform: scaleY(0.1);
   }
   40% {
      transform: scaleY(1.02);
   }
   60% {
      transform: scaleY(0.98);
   }
   80% {
      transform: scaleY(1.01);
   }
   100% {
      transform: scaleY(0.98);
   }
   80% {
      transform: scaleY(1.01);
   }
   100% {
      transform: scaleY(1);
   }
}

.circle {
   position: absolute;
   right: -53px;
   bottom: 75px;
   width: 346px;
   height: 344px;
   border-radius: 50%;
   background-color: #ffa5ba;

   @media screen and (min-width: 768px) {
      right: 107px;
      bottom: 40px;
      width: 324px;
      height: 322px;
   }

   @media screen and (min-width: 1280px) {
      right: 166px;
      bottom: 89px;
      width: 538px;
      height: 538px;
   }
}

.number-list {
   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 768px) {
      z-index: 1;
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1280px) {
         width: 74px;
         margin-top: 35px;
      }
   }
}

.number-list__item:nth-child(odd) {
   position: relative;
   display: block;
   font-family: $secondary-font;
   font-weight: 400;
   font-size: 28px;
   line-height: 1.14;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: $primary-accent-color;

   @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
      margin-bottom: 10px;
   }
}

.number-list__item:nth-child(even) {
   font-family: $main-font;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   text-transform: lowercase;
   color: $menu-text-color;

   @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.28px;
   }
}

.number-list__item:nth-child(2) {
   margin: 0 0 15px 15px;

   @media screen and (min-width: 1280px) {
      margin: 0 0 25px 15px;
   }
}

.number-list__item:nth-child(-n + 3) {
   @media screen and (min-width: 1280px) {
      margin-left: auto;
   }
}

.number-list__item:nth-child(4) {
   margin-right: auto;
}

.number-list__item:nth-child(odd)::after {
   position: absolute;
   content: "";
   left: 25px;
   bottom: 19px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   z-index: -1;
   background-color: $menu-text-color;

   @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      left: 40px;
      bottom: 27px;
   }
}

.box-text {
   position: relative;
   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 768px) {
      width: 115px;
      max-height: 50px;
      margin-left: 120px;
   }

   @media screen and (min-width: 1280px) {
      width: 200px;
      max-height: 80px;
      margin-left: 175px;
   }
}

.box-text__text {
   @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      color: $menu-text-color;
   }

   @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.43;
   }
}

.button {
   @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 0 0 120px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: $menu-text-color;

      @media screen and (min-width: 1280px) {
         margin: 20px 0 0 175px;
         width: 26px;
         height: 26px;
      }
   }

   &:hover,
   &:focus {
      background-color: $hover-button-menu-color;
   }
}

.button__icon {
   display: none;

   @media screen and (min-width: 768px) {
      display: block;
      width: 6px;
      height: 8px;
      fill: $primary-accent-color;
   }

   @media screen and (min-width: 1280px) {
      width: 10px;
      height: 12px;
   }
}

.milk-box {
   position: absolute;

   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 768px) {
      left: 10px;
      bottom: 28px;
   }

   @media screen and (min-width: 1280px) {
      left: -35px;
      bottom: 55px;
   }
}

.milk-box--right {
   animation: slideRight 2000ms ease-in-out;
}

@keyframes slideRight {
   0% {
      transform: translateX(-150%);
   }
   50% {
      transform: translateX(8%);
   }
   65% {
      transform: translateX(-4%);
   }
   80% {
      transform: translateX(4%);
   }
   95% {
      transform: translateX(-2%);
   }
   100% {
      transform: translateX(0%);
   }
}

.girl-box {
   position: absolute;
   z-index: 1;

   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 768px) {
      right: 10px;
      bottom: 0px;
   }

   @media screen and (min-width: 1280px) {
      right: -2px;
      bottom: 0px;
   }
}

.girl-box--left {
   animation: slideLeft 2000ms ease-in-out;
}

@keyframes slideLeft {
   0% {
      transform: translateX(150%);
   }
   50% {
      transform: translateX(-8%);
   }
   65% {
      transform: translateX(4%);
   }
   80% {
      transform: translateX(-4%);
   }
   95% {
      transform: translateX(2%);
   }
   100% {
      transform: translateX(0%);
   }
}
