// *Header
.top-wrapper {
   position: relative;
   min-width: 100%;
   background-color: $hero-header-bg;
   background-image: url("../images/mobile/hero-header/slider-pic7-1.png"),
      url("../images/mobile/hero-header/ellipse.png");
   background-position: bottom 0px right 32px, bottom 75px right 0px;
   background-repeat: no-repeat no-repeat;

   @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url("../images/mobile/hero-header/slider-pic7 1@2x.png"),
         url("../images/mobile/hero-header/ellipse@2x.png");
      background-size: 171px, 285px;
   }

   @media screen and (min-width: 768px) {
      height: 400px;
      background-image: url("../images/tablet/hero-header/slider-pic7-1.png"),
         url("../images/tablet/hero-header/ellipse3.png");
      background-position: bottom 0% right 39%, bottom 59% right 30%;

      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: url("../images/tablet/hero-header/slider-pic7-1@2x.png"),
            url("../images/tablet/hero-header/ellipse3@2x.png");
         background-size: 143px, 336px;
      }
   }

   @media screen and (min-width: 1280px) {
      height: 665px;
      background-image: url("../images/desktop/hero-header/slider-pic7-1.png"),
         url("../images/desktop/hero-header/ellipse.png");
      background-position: left 57% bottom 0%, top 38% right 36%;

      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: url("../images/desktop/hero-header/slider-pic7-1@2x.png"),
            url("../images/desktop/hero-header/ellipse@2x.png");
         background-size: 236px, 557px;
      }
   }
}

.header {
   position: relative;
   padding: 5px 0;

   @media screen and (min-width: 768px) {
      padding: 30px 0 0;
   }

   @media screen and (min-width: 1280px) {
      padding: 25px 0;
   }
}

.header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   @media screen and (min-width: 1280px) {
      justify-content: flex-end;
   }
}

.navigation {
   display: flex;
   align-items: center;
}

.site-nav {
   display: none;

   @media screen and (min-width: 1280px) {
      display: flex;
      margin-right: 110px;
   }
}

.site-nav__item:not(:last-child) {
   margin-right: 35px;
}

.site-nav__link {
   display: block;
   padding: 25px 0;
   text-decoration: none;
   color: $menu-text-color;
   font-weight: 700;
   font-size: 16px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: $primary-accent-color;
   }
}

.site-nav__link--current {
   color: $primary-accent-color;
}

.logo {
   display: inline-block;
   text-decoration: none;
   cursor: pointer;

   @media screen and (min-width: 1280px) {
      position: absolute;
      top: 33px;
      left: 45px;
   }
}

.btn-wrapper {
   display: flex;
   align-items: center;
}

.top-btn {
   display: none;

   @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 22px;
      width: 160px;
      height: 45px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: $primary-accent-color;
      background-color: $menu-text-color;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
         background-color: $hover-button-menu-color;
      }
   }
}

.top-btn__icon {
   border: solid #d41443;
   border-width: 0 2px 2px 0;
   margin-left: 12px;
   display: inline-block;
   padding: 3px;

   &--right {
      transform: rotate(-45deg);
   }
}

// *Mobile menu start
.burger-btn {
   display: inline-flex;

   padding: 20px 0;
   border: none;
   cursor: pointer;
   line-height: 0;
   background-color: transparent;

   @media screen and (min-width: 768px) {
      margin-right: 30px;
   }

   @media screen and (min-width: 1280px) {
      display: none;
   }
}

.burger-btn__icon {
   width: 20px;
   height: 14px;
}

.mobile-menu {
   display: flex;
   flex-direction: column;
   background-image: linear-gradient(
      to bottom,
      #e17992 125px,
      #e18298 125px,
      #e18298 126px,
      #e17992 126px,
      #e17992 169px,
      #e18298 169px,
      #e18298 170px,
      #e17992 170px,
      #e17992 212px,
      #e18298 212px,
      #e18298 213px,
      #e17992 213px,
      #e17992 255px,
      #e18298 255px,
      #e18298 256px,
      #e17992 256px,
      #e17992 298px,
      #e18298 298px,
      #e18298 299px,
      #e17992 299px,
      #e17992 341px,
      #e18298 341px,
      #e18298 342px,
      #e17992 342px,
      #e17992 600px
   );
   position: fixed;
   top: 0;
   right: 0;
   min-width: 250px;
   height: 100vh;
   z-index: 2;
   padding: 60px 20px;
   transform: translateX(115%);
   pointer-events: none;
   filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 768px) {
      padding: 60px 25px;
      min-width: 255px;
   }

   &.is-open {
      transform: translateX(0);
      pointer-events: all;
   }
}

.close-btn {
   position: absolute;
   top: 25px;
   right: 35px;
   padding: 0;
   border: none;
   cursor: pointer;
   line-height: 0;
   background-color: transparent;

   &__icon {
      width: 15px;
      height: 15px;
   }
}

.menu-btn {
   display: flex;
   justify-content: center;
   align-items: center;

   border-radius: 22px;
   text-decoration: none;
   width: 210px;
   height: 45px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.31;
   color: $primary-accent-color;
   background-color: $menu-text-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 768px) {
      width: 185px;
      margin: 0 auto;
   }

   &:hover,
   &:focus {
      background-color: $hover-button-menu-color;
   }
}

.menu-btn__icon {
   border: solid #d41443;
   border-width: 0 2px 2px 0;
   margin-left: 16px;
   display: inline-block;
   padding: 3px;

   &--right {
      transform: rotate(-45deg);
   }
}

.nav-menu {
   margin-top: 20px;
}

.nav-menu__link {
   display: block;
   padding: 12px 0;
   text-decoration: none;
   color: $menu-text-color;
   font-weight: 700;
   font-size: 16px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: $primary-accent-color;
   }
}

.nav-menu__link--current {
   color: $primary-accent-color;
}

// *Mobile menu end

// *-----------HERO------------

.hero {
   padding: 20px 0 150px 0;
   height: 436px;

   @media screen and (min-width: 768px) {
      padding: 10px 0 35px;
      height: 317px;
      background-image: url("../images/tablet/hero-header/slider-pic5-1.png"),
         url("../images/tablet/hero-header/slider-pic4-1.png");
      background-position: left 34px bottom 28px, right 34px bottom 0px;
      background-repeat: no-repeat no-repeat;
      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: url("../images/tablet/hero-header/slider-pic5-1@2x.png"),
            url("../images/tablet/hero-header/slider-pic4-1@2x.png");
         background-size: 124px 126px, 168px 133px;
      }
   }

   @media screen and (min-width: 1280px) {
      height: 550px;
      background-size: 188px 191px, 293px 232px;
      background-image: url("../images/desktop/hero-header/slider-pic5-1.png"),
         ("../images/desktop/hero-header/slider-pic4-1.png");
      background-position: left 77px bottom 55px, bottom 3px right 0px;
      background-repeat: no-repeat no-repeat;
      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: url("../images/desktop/hero-header/slider-pic5-1@2x.png"),
            url("../images/desktop/hero-header/slider-pic4-1@2x.png");
      }
   }
}

.hero__container {
   display: flex;
   justify-content: space-between;

   @media screen and (min-width: 768px) {
      margin-bottom: 65px;
   }

   @media screen and (min-width: 1280px) {
      margin-bottom: 150px;
   }
}

.hero__title {
   display: block;
   font-family: $secondary-font;
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 115px;
   margin-bottom: 20px;
   font-size: 26px;
   line-height: 1.15;
   letter-spacing: 0.04em;
   z-index: 1;
   color: $menu-text-color;

   @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.13;
      margin-top: 0px;
   }

   @media screen and (min-width: 1280px) {
      font-size: 38px;
      line-height: 1.16;
   }
}

.hero__title--big {
   display: block;
   font-family: $secondary-font;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 48px;
   line-height: 0.96;
   letter-spacing: 0.04em;
   color: $primary-accent-color;

   @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
   }

   @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 0.9;
   }
}

.hero__button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   text-decoration: none;
}

.hero__button--first {
   margin-right: 8px;
   width: 60px;
   height: 25px;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   color: $menu-text-color;
   background-color: $primary-accent-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: $hover-button-primary-color;
   }

   @media screen and (min-width: 768px) {
      width: 62px;
   }

   @media screen and (min-width: 1280px) {
      width: 102px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
   }
}

.hero__button--second {
   width: 83px;
   height: 25px;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   color: $primary-accent-color;
   background-color: $menu-text-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: $hover-button-menu-color;
   }

   @media screen and (min-width: 1280px) {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
   }
}

.hero__box {
   flex-direction: column;
}

.number-list {
   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 768px) {
      z-index: 1;
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1280px) {
         width: 74px;
      }
   }
}

.number-list__item:nth-child(odd) {
   position: relative;
   display: block;
   font-family: $secondary-font;
   font-weight: 400;
   font-size: 28px;
   line-height: 1.14;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: $primary-accent-color;

   @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
      margin-bottom: 10px;
   }
}

.number-list__item:nth-child(even) {
   font-family: $main-font;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   text-transform: lowercase;
   color: $menu-text-color;

   @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.28px;
   }
}

.number-list__item:nth-child(2) {
   margin: 0 0 15px 15px;

   @media screen and (min-width: 1280px) {
      margin: 0 0 25px 15px;
   }
}

.number-list__item:nth-child(-n + 3) {
   @media screen and (min-width: 1280px) {
      margin-left: auto;
   }
}

.number-list__item:nth-child(4) {
   margin-right: auto;
}

.number-list__item::after {
   position: absolute;
   content: "";
   left: 25px;
   bottom: 19px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   z-index: -1;
   background-color: $menu-text-color;

   @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      left: 40px;
      bottom: 27px;
   }
}

.box-text {
   @media screen and (max-width: 767px) {
      display: none;
   }

   @media screen and (min-width: 768px) {
      width: 115px;
      max-height: 50px;
      margin-left: 120px;
   }

   @media screen and (min-width: 1280px) {
      width: 200px;
      max-height: 80px;
      margin-left: 180px;
   }
}

.box-text__text {
   @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      color: $menu-text-color;
   }

   @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.43;
   }
}

.button {
   @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 0 0 120px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $menu-text-color;

      @media screen and (min-width: 1280px) {
         margin: 20px 0 0 180px;
         width: 26px;
         height: 26px;
      }
   }
}

.button__icon {
   display: none;

   @media screen and (min-width: 768px) {
      width: 6px;
      height: 8px;
      fill: $primary-accent-color;
   }

   @media screen and (min-width: 1280px) {
      width: 10px;
      height: 12px;
   }
}
