.products{
    margin-top: 127px;
    margin-bottom: 119px;
    
     @media screen and (min-width:320px) and (max-width:767px) {
            margin-top: 121px;
            margin-bottom: 98px;
        }
    @media screen and (min-width:768px) and (max-width:1279px) {
            margin-top: 122px;
            margin-bottom: 112px;
        }
    &__heading{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-family: Titan One;
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $secondary-accent-color;

        @media screen and (min-width:320px) and (max-width:767px) {
            font-size: 18px;
        }
        @media screen and (min-width:768px) and (max-width:1279px) {
            font-size: 26px;
        }
    
    }

    &__paragraph{
        margin-bottom: 49px;
        font-family: Titan One;
        font-style: normal;
        font-weight: normal;
        font-size: 58px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: $primary-accent-color;

         @media screen and (min-width:320px) and (max-width:767px) {
            font-size: 34px;
        }
        @media screen and (min-width:768px) and (max-width:1279px) {
            font-size: 48px;
        }
    }
    &__list{

        @media screen and (min-width:320px) and (max-width:767px) {
            display: flex;
            flex-direction: column;
        }
        @media screen and (min-width:768px) {
            display: flex;
            margin: -15px;
        }
        
    }
    &__img{
        position: absolute;
        // top: 47px;
            display: flex;
        @media screen and (min-width:320px) and (max-width:767px) {
            margin-top: 25px;
            margin-top: 25px;
            top: -130px;
            left: 32px;
        }
        @media screen and (min-width:768px) and (max-width:1279px) {
            // top: 28px;
            top: 328px;
        }
        @media screen and (min-width:1280px) {
            top: 415px;
            
        }
    }
    
    &__card{
        // position: relative;
        text-align: center;
        width: 330px;
        background: #FFB8CA;
        border-radius: 24px;
        
         @media screen and (min-width:320px) and (max-width:767px) {
            width: 280px;
            padding-top: 160px;
            padding-bottom: 40px;
            margin-top: 130px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
        
        @media screen and (min-width:768px) and (max-width:1279px) {
            width: 220px;
            padding-bottom: 40px;
            margin-top: 150px;
        }
        @media screen and (min-width:1280px) {
            
            padding-bottom: 50px;
            margin-top: 259px;
            
        }

    }
    
    &__title{
        margin-bottom: 32px;
        // margin-top: 210px;
        // padding-top: 115px;
        font-family: $secondary-font;
        font-weight: normal;
        font-size: 30px;
        line-height: 1.1;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $primary-bg-color;

        @media screen and (min-width:320px) and (max-width:767px) {
            font-size: 20px;
            // margin-top: 161px;
        }
        
        @media screen and (min-width:768px) and (max-width:1279px) {
            font-size: 20px;
            margin-top: 106px;
            margin-bottom: 30px;
            padding-top: 150px;
        }
        @media screen and (min-width:1280px) {
            padding-top: 165px;
        }
    }
    
    &__description{
        
        
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 176%;
        
        text-align: center;
        letter-spacing: 0.04em;

        color: $primary-bg-color;

         @media screen and (min-width:320px) and (max-width:767px) {
            font-size: 14px;
            padding-left: 40px;
            padding-right: 40px;
            
        }

        @media screen and (min-width:768px) and (max-width:1279px) {
            
            font-weight: normal;
            font-size: 14px;
            padding-left: 11px; 
            padding-right: 11px;
            
        }
        @media screen and (min-width:1280px) {
            padding-left: 44px;
            padding-right: 44px;
        }
    }
    
    &__item{
        // position: relative;
        @media screen and (min-width:768px) and (max-width:1279px) {
            margin: 10px;
        }
        @media screen and (min-width:1280px){
            margin: 15px;
        }

    }

    
}
.arrow{
    margin-top: 30px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.ice-cream{
    background-color: $hero-header-bg;
}
.ice-coffe{
    background-color: $second-card-color;
}
.milcshakes{
    background-color: $third-card-color;
}
.dots, .dots:before, .dots:after {
    width: 6px;
    height: 6px;
    background: $menu-text-color;
    border-radius: 50%;
}
.dots{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.dots:before {
    content: '';
    position: absolute;
    left: -10px;
}
.dots:after {
    content: '';
    position: absolute;
    right: -10px;
}
.contacts-title{
font-size: 58px;
}