.customer-reviews{
    padding-bottom: 86px;
    @media screen and (min-width: 768px) {
        padding-bottom: 119px;    
    }
    @media screen and (min-width: 1280px) {
        padding-bottom: 132px;    
    }
    
}
.customer-reviews__image{
    width: 85px;
    height: 85px;
    margin-bottom: 29px;
    text-align: center;
    @media screen and (min-width:768px){ 
        margin-bottom: 19px;
    }
    @media screen and (min-width:1280px){ 
        margin-bottom: 15px;
    }
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.customer-reviews__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
.customer-reviews__wrapper{
    
    position: relative;
    width: 280px;
    margin-bottom: 30px;
    background-color: #FAFAFA;
    padding: 43px 66px 26px 57px;
    z-index: -1;
    @media screen and (min-width:480px){ 
        width: 440px;
    }
    @media screen and (min-width:768px){ 
        margin-bottom: 24px;
        padding: 47px 80px 34px 80px;
        width: 620px;
    }
    @media screen and (min-width:1280px){ 
        margin-bottom: 15px;
        padding: 47px 89px 39px 87px;
        width: 925px;
    }
}  
.customer-reviews__text{
    font-weight: 500;
    line-height: 2.58;
    text-align: center;
    color: $primary-text-color;
    background-image: linear-gradient(
    0deg,
    rgb(225, 225, 225) 2%,
    rgba(255, 255, 255, 0) 2%,
    rgba(255, 255, 255, 0) 50%,
    rgb(225, 225, 225)50%,
    rgb(225, 225, 225) 52%,
    rgba(255, 255, 255, 0) 52%,
    rgba(255, 255, 255, 0) 100%
  );
    z-index: 1;
    @media screen and (min-width:768px){ 
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width:1280px){ 
        font-size: 16px;
        line-height: 1.86;
       
    }
    &::before{
        content:'';
        position: absolute;
        top: 28px;
        left: 61px;
        display: block;
        background-image: url(../images/svg/customer-reviews-bracket.svg);
        width: 54px;
        height: 40px;
        z-index: -1;
        @media screen and (min-width:768px){ 
           top: 30px;
           left: 40px;
        }
        @media screen and (min-width:1280px){ 
            top: 32px;
            left: 50px;
        }
    }

	
}
.customer-reviews__location{
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 500;

    &::before{
        content: "";
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 18px;
        width: 32px;
        height: 4px;
        color: $hover-button-primary-color;
        background-image: url(../images/svg/customers-reviews-pagination-dots.svg);
        @media screen and (min-width:768px){ 
            margin-bottom: 15px;

         }
         
    }
}
.slick-list {
   overflow: hidden;
}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    &:not(:last-child){
        margin-right: 18px;
    }
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-image: url(../images/svg/slick-active-btn.svg);
    border-radius: 0;
    background-color: transparent;
    
}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
    border:0;
}